/* Created by richard kuthita */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:black;
  color:red;
  border-radius:10px;
}
body{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #727EFF;
}
.container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  text-align: center;
  background:
rgba( 255, 255, 255, 0.25 );
box-shadow:
0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:
blur( 16.5px );
-webkit-backdrop-filter:
blur( 16.5px );
border-radius:
10px;
border:
1px solid rgba( 255, 255, 255, 0.18 );
}
.container .title{
  text-align: center;
  font-size: 20px;
  margin: 10px;
}
.container .date{
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: #fff;
}